#background{
background-image:url("Pic/M1.jpg");
height:550px;
margin-top:50px;}
#C1{
margin:80px 0px 0px 25px;
border:1px dashed red;
box-shadow: 5px 10px 10px 10px #FC4D4D;
float:left}
#C2{
margin:30px 25px 0px 0px;
border:1px dashed red;
box-shadow: 5px 10px 10px 10px #FC4D4D;
float:right}
#P1{
color:#FF9933; 
font-size:30px; 
text-align:center;}
#P2{
color:#FFFF66; 
font-size:20px;}
#P3{
color:#FFFF00; 
font-size:20px;}